.venv/
__pycache__/
*.pyc
.env

data/raw/train.csv

data/lake/bronze/*
!data/lake/bronze/.gitkeep

data/lake/silver/*
!data/lake/silver/.gitkeep

data/lake/gold/*
!data/lake/gold/.gitkeep

.ipynb_checkpoints/
logs/
.airflow/
.pytest_cache/
